h1,
button,
#add-character

{
  color: blue;

}

.parkBoundary {
  marin: 0 auto;
  text-align: center;
}

.container {
  background-image: url(https://s-media-cache-ak0.pinimg.com/564x/d2/f2/10/d2f210eebb4ddfc22fbc7bd747adc78b.jpg);
  height: 2700px;
}



